html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.first{
    border: 2px solid black;
    height:400px;
    width:70%;
    float: left;
    margin-left: 2%;
    margin-top: 2%; 
}

.second{
    margin-top: 2%; 
}


body{
    margin: auto;
    background-color: bisque;
}

#header{
    width:100%;
    height:50px;
    background-color: red;
    margin-left:1%;
    margin-right:4%
}

span{
    font-size:30px;
}
.logo{
    font-size:30px;
    color:white
}

.leftopt{
    margin-right: 3%;
}
#filter{
    height:1000px;
    width:20%;
    background-color:darkcyan;
    float: left;
    border:5px double black;
    margin-top: 2%; 
    margin-left: 2%; 
}

.first{
    width:80%;
    background-color: white;
}

.image{
    width:100%;
    height:100%;
}
.details{
    width:48%;
    height:fit-content;
    float: left;
}

.maindiv{
    width:100%;
    height:50%;
}

.moredetails{
    width:48%;
    height:fit-content;
    float: right;
}
.imgClass{
    height:250px;
    width:100%
}
.head{
    width:100%;
}
.vl {
    border-left: 4px solid grey;
    height: 153px;
    float: right;
    margin-top: 0px;
  }
.space{
    margin-left: 3px;
}